.table_container {
  height: 77vh;
  overflow: auto;
}

.ticket-list {
  margin: 3%;
  margin-top: 1%;
}

.mat-column-ticketid {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-description {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-state {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-subprocess {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-team {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-options {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

table {
  width: 100%;
  border-collapse: unset;
}

tr.mat-row.example-detail-row {
  height: 0;
}

tr.mat-row {
  height: 48px;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #cfcfcf;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

th.mat-header-cell {
  border-bottom-color: #f2a718;
}

.example-element-row td {
  border-bottom-width: 0;
  border-top-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element {
  padding: 14px;
}

.desc_element {
  font-size: 8pt;
  padding-left: 14px;
  color: #f2a718;
}

.details_div {
  width: 100%;
}

.wrapper_div {
  width: 100%;
}

.floating_div_small {
  float: left;
  width: 30%;
}

.floating_div_big {
  float: left;
  width: 70%;
}


mat-cell {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

body {
  display: inherit;
}

tr.example-element-row {
  cursor: pointer;
}

  tr.example-element-row:hover {
    background-color: #f0f0f0!important;
  }

button {
  outline: 0;
}

mat-select {
  letter-spacing: 0px !important;
}
