<form [formGroup]="passwordForm">
  <p mat-dialog-title align="center">Passwort ändern</p>

  <mat-dialog-content align="center">
    <mat-form-field *ngIf="!auth.isAdmin()">
      <input matInput type="password" [(ngModel)]="data.currentPassword" formControlName="currentPassword" placeholder="Aktuelles Passwort" />
    </mat-form-field>

    <br />

    <mat-form-field>
      <input matInput type="password" [(ngModel)]="data.newPassword" formControlName="newPassword" placeholder="Neues Passwort" />
    </mat-form-field>

    <br />

    <mat-form-field>
      <input matInput type="password" [(ngModel)]="data.newPasswordConformation" formControlName="newPasswordConformation" placeholder="Neues Passwort bestätigen" />
    </mat-form-field>

    <br />

    <div *ngIf="data.newPassword !== data.newPasswordConformation" style="color:red;">Passwörter müssen übereinstimmen!</div>

    <br />
  </mat-dialog-content>

  <div mat-dialog-actions align="center">
    <button mat-stroked-button (click)="onNoClick()">Abbrechen</button>
    <button mat-flat-button color="primary" (click)="onYesClick()" cdkFocusInitial [disabled]="!passwordForm.valid || data.newPassword !== data.newPasswordConformation">Bestätigen</button>
  </div>
</form>

