.login-form {
  display: block;
  margin: auto;
  width: 24em;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 2px;
}

mat-form-field {
  width: 230px;
  margin-right: 20pt;
}

input[type] {
  border-radius: 2px;
}

button {
  width: 270px;
  margin: auto;
  color: #000;
  background-color: #f2a718;
  border-radius: 2px;
  border: none;
  transition: .5s;
  margin-top: 20px;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  outline: 0 none !important;
  border: 0 !important;
}

img {
  margin-bottom: 30px;
  margin-top: 30px;
}

body {
  padding-top: 50pt;
}

.container-fluid {
  box-shadow: 1px 1px 10px 1px grey;
  background-color: white;
}

button {
  margin-bottom: 20pt;
  padding: 5pt;
}

.mat-form-field-infix {
  outline: 0;
  border: 0;
}

mat-icon {
  color: #f2a718 !important;
  font-size: 25pt;
  margin-right: 20pt;
  vertical-align: middle !important;
}
