.login-form {
  display: block;
  margin: auto;
  width: 24em;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 2px;
}

input[type] {
  border-radius: 2px;
}

button {
  color: #000;
  background-color: #f2a718;
  border-radius: 2px;
  border: none;
  transition: .5s;
}

  button:hover, button:focus, button:active, button:active:focus {
    color: #000;
    background-color: #db9716;
  }

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  border-color: #f2a718;
  border: 1px solid #f2a718;
  outline: 0 none;
}
