<p>Neuer Mitarbeiter</p>
<mat-form-field class="mat-form-field-appearance-legacy">
  <input matInput [(ngModel)]="data.firstName" placeholder="Vorname" />
</mat-form-field>
<br />

<mat-form-field class="mat-form-field-appearance-legacy">
  <input matInput [(ngModel)]="data.lastName" placeholder="Nachname" />
</mat-form-field>
<br />

<mat-form-field class="mat-form-field-appearance-legacy">
  <input matInput [(ngModel)]="data.dateOfBirth" [matDatepicker]="pickBirthDate" placeholder="Geburtsdatum">
  <mat-datepicker-toggle matSuffix [for]="pickBirthDate"></mat-datepicker-toggle>
  <mat-datepicker #pickBirthDate></mat-datepicker>
</mat-form-field>
<br />

<mat-form-field class="mat-form-field-appearance-legacy">
  <input matInput [(ngModel)]="data.hireDate" [matDatepicker]="pickHireDate" placeholder="Einstellungsdatum">
  <mat-datepicker-toggle matSuffix [for]="pickHireDate"></mat-datepicker-toggle>
  <mat-datepicker #pickHireDate></mat-datepicker>
</mat-form-field>
<br />

<select [(ngModel)]="data.teamID">
  <option *ngFor="let team of allTeams" [value]="team.teamID">{{ team.description }}</option>
</select>

<button mat-icon-button (click)="onAddTeam()">
  <mat-icon>playlist_add</mat-icon>
</button>


<!--<mat-form-field>
  <input matInput [matDatepicker]="pickBirthDate" placeholder="Geburtsdatum" [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="pickBirthDate"></mat-datepicker-toggle>
  <mat-datepicker #pickBirthDate></mat-datepicker>
</mat-form-field>
<br />-->

<div mat-dialog-actions>
  <button mat-button (click)="onNoClickEmp()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Mitarbeiter erstellen</button>
</div>
