<h2 mat-dialog-title *ngIf="titleExists()">{{title}}</h2>
<mat-dialog-content class="mat-typography">
  <h3 *ngIf="subheadingExists()">{{subheading}}</h3>
  <p *ngIf="textExists()">{{text}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial *ngIf="noExists()">{{no}}</button>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial *ngIf="!(noExists())">No</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial *ngIf="yesExists()">{{yes}}</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial *ngIf="!(yesExists())">Yes</button>
</mat-dialog-actions>
