<h2 mat-dialog-title *ngIf="titleExists()">{{title}}</h2>
<mat-dialog-content class="mat-typography">
  <h3 *ngIf="subheadingExists()">{{subheading}}</h3>
  <p *ngIf="textExists()">{{text}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>
    <span *ngIf="noExists()">{{no}}</span>
    <span *ngIf="!(noExists())">Nein</span>
  </button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
    <span *ngIf="yesExists()">{{yes}}</span>
    <span *ngIf="!(yesExists())">Ja</span>
  </button>
</mat-dialog-actions>
