<form [formGroup]="ticketForm">
  <p mat-dialog-title align="center">Ticket {{isEdit ? ticketID + ' bearbeiten' : 'erstellen'}}</p>

  <mat-dialog-content align="center">
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput formControlName="description" placeholder="Beschreibung" />
      <mat-error>{{error}}</mat-error>
    </mat-form-field>

    <br />

    <mat-form-field>
      <input matInput formControlName="note" placeholder="Notiz" />
      <mat-error>{{error}}</mat-error>
    </mat-form-field>

    <br />

    <mat-form-field>
      <mat-label>Prozess</mat-label>
      <mat-select [(ngModel)]="selectedProcess" (ngModelChange)="reloadSubprocesses()" formControlName="processID">
        <mat-option [value]="-1">---</mat-option>
        <mat-option *ngFor="let process of allProcesses" [value]="process.processID">
          {{process.description}}
        </mat-option>
      </mat-select>
      <mat-error>{{error}}</mat-error>
    </mat-form-field>

    <br />

    <mat-form-field>
      <mat-label>Subprocess</mat-label>
      <mat-select [(ngModel)]="selectedSubprocess" formControlName="subprocessID">
        <mat-option [value]="-1">---</mat-option>
        <mat-option *ngFor="let subprocess of allSubprocesses" [value]="subprocess.subprocessID">
          {{subprocess.description}}
        </mat-option>
      </mat-select>
      <mat-error>{{error}}</mat-error>
    </mat-form-field>

    <br />

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="selectedState" formControlName="stateID">
        <mat-option [value]="-1">---</mat-option>
        <mat-option *ngFor="let state of allStates" [value]="state.stateID">
          {{state.description}}
        </mat-option>
      </mat-select>
      <mat-error>{{error}}</mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-stroked-button (click)="onCancelClicked()">Abbrechen</button>
    <button mat-flat-button color="primary" (click)="onSaveClicked()" cdkFocusInitial [disabled]="!ticketForm.valid">{{isEdit ? 'Bestätigen' : 'Erstellen'}}</button>
  </mat-dialog-actions>
</form>
