<form [formGroup]="teamDataFormGroup">

  <p mat-dialog-title align="center">{{_header}}</p>

  <mat-dialog-content align="center">
    <mat-form-field class="mat-form-field-appearance-legacy" [hideRequiredMarker]="true">
      <input matInput [(ngModel)]="data.description" placeholder="Beschreibung" formControlName="descCtrl" required />
    </mat-form-field>
    <br />
    <mat-form-field class="mat-form-field-appearance-legacy" [hideRequiredMarker]="true">
      <input matInput [(ngModel)]="data.abbreviation" placeholder="Abkürzung" formControlName="abbrCtrl" required />
    </mat-form-field>
    <br />
  </mat-dialog-content>
</form>

<mat-dialog-content align="center">
  <button mat-icon-button>
    <mat-icon title="Klicken Sie auf einen Mitarbeiter, um diesen zu entfernen." style="cursor: help;">info</mat-icon>
  </button>

  <mat-form-field>
    <mat-label>Mitarbeiter</mat-label>
    <mat-select [(ngModel)]="data.employeeID">
      <mat-option *ngFor="let emp of allEmps" [value]="emp.employeeID">
        {{emp.firstName}} {{emp.lastName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-icon-button (click)="onAddEmp()" title="Mitarbeiter hinzufügen">
    <mat-icon>library_add</mat-icon>
  </button>

  <mat-action-list>
    <button class="empListButton link" selectedEmpsListItem *ngFor="let e of data.selEmps" mat-list-item (click)="onRemoveEmp(e)">
      {{e.firstName}} {{e.lastName}} <mat-icon class="someicon">delete</mat-icon>
    </button>
  </mat-action-list>
</mat-dialog-content>

<div mat-dialog-actions align="center">
  <button mat-stroked-button (click)="onNoClick()">Abbrechen</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial [disabled]="!teamDataFormGroup.valid">
    {{_buttonText}}
  </button>
</div>

