<p>
  teams works! test
</p>

<body>
  
  <!--<mat-form-field>
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>-->

  <div>
    <input type="text" [(ngModel)]="_teamDescription" placeholder="Name">
    <br>

    <button routerLink="/" (click)="clearValues()">Abbrechen</button>
    <button (click)="postTeam()" routerLink="/">Erstellen</button>


    <select>
      <option *ngFor="let team of allTeams">{{ team.description }}</option>
    </select>
  </div>
  

</body>
