table {
  width: 100%;
}

tr.mat-row.example-detail-row {
  height: 0;
}

tr.mat-row {
  height: 48px;
}


tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}


.mat-elevation-z8{
  overflow: auto;
  height: 80vh;
}

.mat-column-teamID {
  flex: 0 0 150px;
}

mat-cell{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


/*mat-cell[title]:hover:after{
  content:attr(title);
  position: absolute;
  color:aqua;
}*/

.tabs {
  display: flex;
  min-height: 100vh;
}

.team_tab, .employee_tab {
  margin: 3%;
  margin-top: 1%;
}

body
{
 display: inherit; 
}
