mat-table {
  width: 100%;
  height: 100%;
}

.mat-elevation-z8{
  overflow:auto;
  height: 80vh;
}

.mat-column-teamID {
  flex: 0 0 150px;
}

mat-cell{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*mat-cell[title]:hover:after{
  content:attr(title);
  position: absolute;
  color:aqua;
}*/

.tabs {
  display: flex;
  min-height: 100vh;
}

.team_tab, .employee_tab {
  margin: 3%;
  margin-top: 1%;
}

body {
  display: inherit;
}
