li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: #f2a718;
  color: #fff;
  transition: .3s;
}

.sidebar {
  background-color: #303030;
  height: 100%;
  min-width: 100%;
  text-align: center;
  position: static;
}

.nav-link {
  color: grey;
  padding: 17px 100px 17px 10px;
  font-size: 1.15em;
  border-radius: 5px;
  margin: 5px;
  text-align: left;
}

  .nav-link:hover {
    color: #fff;
    transition: .3s;
  }

i {
  margin-left: 0.5em;
  margin-right: 0.3em;
  float: left;
  padding-top: 4px;

  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

span.sidebar-header {
  font-size: 1.15em;
  color: #fff;
}

div.protick-underline {
  margin: 0 auto;
  height: 1px;
  width: 90%;
  background-color: #f2a718;
}

.align-left {
  text-align: left;
}

img {
  height: 30px;
  margin-right: 60px;
}

.wrap_div{
  width: 200px;
}
