<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<ul class="sidebar navbar-nav">
  <li class="nav-item">
    <a class="nav-link align-left">
      <div class="wrap_div">
        <img src="logo.ico" />
        <span class="sidebar-header">ProTick</span>
      </div>
    </a>
  </li>

  <div class="protick-underline"></div>

  <li [routerLinkActive]='["link-active"]' class="nav-item">
    <a [routerLink]='["/tickets"]' class="nav-link">
      <i class="fa fa-ticket"></i>
      <span>  Tickets</span>
    </a>
  </li>

  <li [routerLinkActive]='["link-active"]' class="nav-item" *ngIf="this.authGuard.isAdmin()">
    <a [routerLink]='["/processes"]' class="nav-link">
      <i class="fa fa-cog"></i>
      <span> Prozesse</span>
    </a>
  </li>

  <li [routerLinkActive]='["link-active"]' class="nav-item">
    <a [routerLink]='["/teams"]' class="nav-link">
      <i class="fa fa-users"></i>
      <span> Teams</span>
    </a>
  </li>

  <li [routerLinkActive]='["link-active"]' class="nav-item">
    <a [routerLink]='["/login"]' (click)='logout();' class="nav-link">
      <i class="fa fa-sign-out"></i>
      <span>Logout</span>
    </a>
  </li>
</ul>
